{% extends "base.html" %}
{% block title %} Branch{% endblock %}
{% block content %}

  <main class="container-fluid">
    <div class="d-flex align-items-center gap-3 mb-4">
      <div class="bg-indigo bg-opacity-10 text-indigo rounded-circle d-flex justify-content-center align-items-center icon-circle">
        <i class="fas fa-home"></i>
        <div>
    </div>
        <h1 class="h5 fw-semibold mb-0">Branch</h1>
    </div>

      <div class="position-relative mb-0">
        <i class="fas fa-search position-absolute top-50 start-0 translate-middle-y ms-3 text-secondary small"></i>
        <input type="text" class="form-control ps-5" placeholder="Search" />
      </div>
      <a href="{% url 'branch_create' %}" class="btn btn-success mb-3"> Add Branch</a>
    </div>

    <section class="fullscreen-section">
      <div class="table-responsive flex-grow-1">


          <div class="container mt-4">
              <div class="row">
                  <!-- Card 1 -->
                  {% for br in branch %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Name: {{ br.name }}</h5>
                        <p class="card-text">Email: {{ br.email }}</p>
                        <p class="card-text">Phone: {{ br.phone_number }}</p>
                        <p class="card-text">Address:{{ br.address }}</p>
                        <p class="card-text">GPS: {{ br.gps_location }}</p>
                        <p class="card-text">IsHeadBranch?: {{ br.is_headbranch }}</p>

                        <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#editModal{{ br.id }}">Edit</>
                        <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ br.id }}">Delete</button>
                    </div>
                    <!-- Edit Modal -->
                    <div class="modal fade" id="editModal{{ br.id }}" tabindex="-1" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">

                          <form method="POST" action="{% url 'branch_edit' br.pk %}">
                            {% csrf_token %}
                            <div class="modal-header">
                              <h5 class="modal-title">Edit Branch</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="mb-3">
                                
                                <label>Name</label>
                                <input type="text" name="name" class="form-control" value="{{ br.name }}">
                              </div>
                              <div class="mb-3">
                                <label>Email</label>
                                <input type="email" name="email" class="form-control" value="{{ br.email }}">
                              </div>
                              <div class="mb-3">
                                <label>Phone</label>
                                <input type="text" name="phone_number" class="form-control" value="{{ br.phone_number }}">
                              </div>
                              <div class="mb-3">
                                <label>Address</label>
                                <input type="text" name="address" class="form-control" value="{{ br.address }}">
                              </div>
                              <div class="mb-3">
                                <label>GPS</label>
                                <input type="text" name="gps_location" class="form-control" value="{{ br.gps_location }}">
                              </div>
                              <div class="mb-3">
                                <label>IsHeadBranch</label>
                                <input type="text" name="is_headbranch" class="form-control" value="{{ br.is_headbranch }}">
                              </div>
                              
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-primary">Save changes</button>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>

                    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal{{ br.id }}" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form method="POST" action="{% url 'branch_delete' br.pk %}">
            {% csrf_token %}
            <div class="modal-header">
              <h5 class="modal-title">Confirm Deletion</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete the Branch "<strong>{{ br.name }}</strong>"?
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger">Yes, Delete</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>


                </div>
            </div>
            {% endfor %}
        </div>
    </div>
        
      </div>
    </section>
  </main>

{%endblock%}